body {
    font-family: cursive;
    font-weight: 700;
}

.card-container {
    margin: 20px auto;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 100%;
    background-color: #d3d6f3;
    padding: 25px;
    margin-bottom: 20px;
}

.title {
    font-size: 20px;
    color: #099efa;
}

.text {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    color: #000;
}

.name {
    margin-right: 30px;
    font-size: 14px;
    color: #1f06aa;
}

.email {
    font-size: 14px;
    color: #1f06aa;
}

.card button {
    margin-top: 20px;
    display: block;
    cursor: pointer;
    color: #d3d6f3;
    background-color: #099efa;
    border: 1px solid #1f06aa;
}
